In [1]:
import pandas as pd
import numpy as np 
from som import SOM
from som import kmeans
from sklearn import preprocessing
from sklearn.metrics import silhouette_score

In [2]:
df = pd.read_csv("iris_data.csv")
df.drop("Iris-setosa", axis=1, inplace=True)
df.head()

   5.1  3.5  1.4  0.2
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

In [3]:
X = df.values

In [14]:
total_trial = 10
max_iteration = 1000
lr = 1 
nr = 5
epoch = 5
total_cluster = 10
list_df = list()
for i in range(total_trial):
    model1 = kmeans(n_clusters=total_cluster, method="random")
    model1.fit(X, epochs=epoch)
    model2 = kmeans(n_clusters=total_cluster, method="kde")
    model2.fit(X, epochs=epoch)
    model3 = SOM(m = total_cluster, n = total_cluster, dim = X.shape[1], initiate_method = "random", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
    model3.fit(X, epoch=epoch)
    model4 = SOM(m = total_cluster, n = total_cluster, dim = X.shape[1], initiate_method = "kmeans", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
    model4.fit(X,epoch=epoch)
    model5 = SOM(m = total_cluster, n = total_cluster, dim = X.shape[1], initiate_method = "kde_kmeans", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
    model5.fit(X, epoch=epoch)
    ss1 = silhouette_score(X,model1.predict(X))
    ss2 = silhouette_score(X,model2.predict(X))
    ss3 = silhouette_score(X,model3.predict(X))
    ss4 = silhouette_score(X,model4.predict(X))
    ss5 = silhouette_score(X,model5.predict(X))
    print([ss1, ss2, ss3, ss4, ss5])
    list_df.append([ss1, ss2, ss3, ss4, ss5])
list_df

[0.5274906391695935, 0.5471689284732806, 0.08048347818058874, 0.05132550096618748, -0.010116363621151649]
[0.68477369308249, 0.5507221459356525, 0.14133587920043705, 0.046970327204935575, -0.038516345967163586]
[0.5420433321120492, 0.6752934296290661, 0.03774305391974198, 0.11454248732224956, -0.0808243440346104]
[0.6790972216250504, 0.5290014631871558, 0.16964552515779746, -9.476797287369816e-05, 0.13976910224582936]
[0.6790972216250504, 0.5269154597602443, 0.09935796596676769, 0.04332393956596877, -0.012954721343019148]
[0.6838250203278416, 0.4915666323448806, 0.1348541016998093, 0.018299614062618555, 0.15025040383382246]
[0.668890105106973, 0.48536747398977015, 0.17522089328197024, 0.002430497354840765, 0.11415136215877901]
[0.6688901051069731, 0.5486359979373786, -0.00821197616959663, 0.021632543885924123, 0.10246376271184247]
[0.6790972216250504, 0.5387889667711555, 0.1360244604439498, 0.0018855083042098925, 0.020762936403373657]
[0.6403275355623514, 0.491227109626832, 0.12008739967245777, 0.15607806449601302, -0.023888818419685334]

[[0.5274906391695935,
  0.5471689284732806,
  0.08048347818058874,
  0.05132550096618748,
  -0.010116363621151649],
 [0.68477369308249,
  0.5507221459356525,
  0.14133587920043705,
  0.046970327204935575,
  -0.038516345967163586],
 [0.5420433321120492,
  0.6752934296290661,
  0.03774305391974198,
  0.11454248732224956,
  -0.0808243440346104],
 [0.6790972216250504,
  0.5290014631871558,
  0.16964552515779746,
  -9.476797287369816e-05,
  0.13976910224582936],
 [0.6790972216250504,
  0.5269154597602443,
  0.09935796596676769,
  0.04332393956596877,
  -0.012954721343019148],
 [0.6838250203278416,
  0.4915666323448806,
  0.1348541016998093,
  0.018299614062618555,
  0.15025040383382246],
 [0.668890105106973,
  0.48536747398977015,
  0.17522089328197024,
  0.002430497354840765,
  0.11415136215877901],
 [0.6688901051069731,
  0.5486359979373786,
  -0.00821197616959663,
  0.021632543885924123,
  0.10246376271184247],
 [0.6790972216250504,
  0.5387889667711555,
  0.1360244604439498,
  0.0018855083042098925,
  0.020762936403373657],
 [0.6403275355623514,
  0.491227109626832,
  0.12008739967245777,
  0.15607806449601302,
  -0.023888818419685334]]

In [16]:
df_save = pd.DataFrame(list_df, columns=["random kmeans", "kde kmeans", "random SOM", "kmeans SOM", "kde kmeans SOM"])
df_save

   random kmeans  kde kmeans  random SOM  kmeans SOM  kde kmeans SOM
0       0.527491    0.547169    0.080483    0.051326       -0.010116
1       0.684774    0.550722    0.141336    0.046970       -0.038516
2       0.542043    0.675293    0.037743    0.114542       -0.080824
3       0.679097    0.529001    0.169646   -0.000095        0.139769
4       0.679097    0.526915    0.099358    0.043324       -0.012955
5       0.683825    0.491567    0.134854    0.018300        0.150250
6       0.668890    0.485367    0.175221    0.002430        0.114151
7       0.668890    0.548636   -0.008212    0.021633        0.102464
8       0.679097    0.538789    0.136024    0.001886        0.020763
9       0.640328    0.491227    0.120087    0.156078       -0.023889

In [17]:
df_save.to_csv("silhouette_score_data.csv")