In [1]:
import pandas as pd
import numpy as np 
from SOM_plus_clustering.som import SOM
from SOM_plus_clustering.som import kmeans
from sklearn import preprocessing
from sklearn.metrics import silhouette_score

In [2]:
df = pd.read_csv("iris_data.csv")
df.drop("Iris-setosa", axis=1, inplace=True)
df.head()

   5.1  3.5  1.4  0.2
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

In [3]:
X = df.values

In [4]:
def get_ss(X, y):
    try: 
        return silhouette_score(X,y)
    except:
        return None

In [12]:
def experiment(total_trial = 10, max_iteration = 100, lr = 1, nr = 5, epoch = 1, total_cluster = 3):
    list_df = list()
    for i in range(total_trial):
        
        model1 = kmeans(n_clusters=total_cluster, method="random")
        model1.fit(X, epochs=epoch)
        ss1 = get_ss(X,model1.predict(X))
        
        model2 = kmeans(n_clusters=total_cluster, method="kde")
        model2.fit(X, epochs=epoch)
        ss2 = get_ss(X,model2.predict(X))
        
        model3 = kmeans(n_clusters=total_cluster, method="kmeans++")
        model3.fit(X, epochs=epoch)
        ss3 = get_ss(X,model3.predict(X))
        
        model4 = SOM(m = total_cluster, n = total_cluster, dim = X.shape[1], initiate_method = "random", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
        model4.fit(X, epoch=epoch)
        ss4 = get_ss(X,model4.predict(X))
        
        model5 = SOM(m = total_cluster, n = total_cluster, dim = X.shape[1], initiate_method = "kmeans", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
        model5.fit(X,epoch=epoch)
        ss5 = get_ss(X,model5.predict(X))
        
        model6 = SOM(m = total_cluster, n = total_cluster, dim = X.shape[1], initiate_method = "kde_kmeans", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
        model6.fit(X, epoch=epoch)
        ss6 = get_ss(X,model6.predict(X))
        
        model7 = SOM(m = 1, n = total_cluster, dim = X.shape[1], initiate_method = "kmeans++", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
        model7.fit(X, epoch=epoch)
        ss7 = get_ss(X,model7.predict(X))
        
        model8 = SOM(m = 1, n = total_cluster, dim = X.shape[1], initiate_method = "SOM++", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
        model8.fit(X, epoch=epoch)
        ss8 = get_ss(X,model8.predict(X))
        
        model9 = SOM(m = 1, n = total_cluster, dim = X.shape[1], initiate_method = "kde", max_iter = max_iteration, learning_rate = lr, neighbour_rad = nr)
        model9.fit(X, epoch=epoch)
        ss9 = get_ss(X,model9.predict(X))
        
        list_shs = [ss1, ss2, ss3, ss4, ss5, ss6, ss7, ss8, ss9]
        list_df.append(list_shs)
    df_save = pd.DataFrame(list_df, columns=["random kmeans", "kde kmeans", "kmeans++", "random SOM", "kmeans SOM", "kde kmeans SOM", "kmeans++ SOM", "SOM++", "kde SOM"])
    return df_save

In [16]:
exp_df = experiment(total_trial = 30, 
                    max_iteration = 50000, 
                    lr = 0.7, 
                    nr = 1, 
                    epoch = 1, 
                    total_cluster = 3)
exp_df

,random kmeans,kde kmeans,kmeans++,random SOM,kmeans SOM,kde kmeans SOM,kmeans++ SOM,SOM++,kde SOM
0,0.683825,0.661844,0.547249,0.113681,0.477293,0.473689,0.535864,0.514727,0.210254
1,0.679097,0.679097,0.547932,0.684774,0.555201,0.248771,0.526601,0.534656,-0.012939
2,0.675293,NaN,0.535476,0.423585,0.464505,0.181662,0.540706,0.488235,0.041007
3,NaN,0.681306,0.550427,0.174482,0.270850,0.226645,0.504371,0.505449,0.503187
4,NaN,0.683825,0.538548,0.410826,0.684774,0.250834,0.509962,0.528410,0.639503
5,0.684774,0.675293,0.516907,0.139810,0.430809,0.290756,0.513067,0.468425,0.684774
6,0.684774,0.679097,0.510902,-0.237342,0.302554,0.513134,0.529659,0.483305,NaN
7,0.684774,0.684774,0.546878,0.338410,0.346516,0.458479,0.375282,0.528484,0.574432
8,0.640328,0.679097,0.536568,0.029934,0.668890,0.334324,0.485140,0.548561,0.684774
9,0.683825,0.675293,0.525465,0.219278,0.359946,0.253796,0.515904,0.515904,0.415947
10,0.684774,0.647650,0.550198,0.173770,0.648603,0.432821,0.461331,0.450074,0.241097
11,0.684774,0.675293,0.517879,0.684774,0.675293,0.403244,0.474145,0.550342,-0.106498
12,0.683825,NaN,0.515904,0.684774,0.537395,0.380865,0.491702,0.551746,0.644030
13,0.683825,0.679097,0.549082,0.681306,0.550427,0.279049,0.478669,0.456533,-0.126832
14,0.683825,0.675293,0.549425,0.531367,0.386273,0.226898,0.500880,0.550842,0.672094
15,0.647650,0.684774,0.515904,0.096298,0.511166,0.312048,0.517929,0.522270,NaN
16,0.683825,0.546878,0.550198,0.642039,0.326856,0.198239,0.507760,0.488544,0.203329
17,0.679097,0.668890,0.516162,0.275630,0.684774,0.192901,0.511669,0.467397,0.580234
18,0.647650,0.668890,0.533769,-0.061441,0.360397,0.684774,0.517605,0.456533,0.458934
19,0.683825,0.679097,0.546448,0.246394,0.013838,0.478961,0.493402,0.526915,0.431275
20,NaN,0.683825,0.535157,0.495398,0.675293,0.328154,0.478679,0.495792,0.515470
21,0.684774,0.683825,0.552696,0.069618,0.185047,0.323224,0.483022,0.486084,0.493223
22,NaN,0.684774,0.550842,0.532103,0.675293,0.306761,0.503692,0.465684,0.424040
23,0.679097,NaN,0.527845,0.225460,0.395835,0.445354,0.499021,0.551545,-0.126832
24,NaN,0.632719,0.549654,0.405778,0.523250,0.497093,0.476684,0.518436,NaN
25,0.661844,0.640328,0.550198,0.356469,0.681306,0.514990,0.499236,0.514727,0.498477
26,0.683825,NaN,0.543279,0.293579,0.475375,0.252876,0.517879,0.509076,0.647650
27,0.507493,0.683825,0.548528,0.504236,0.361446,0.516975,0.357415,0.484681,0.679097
28,0.675293,0.679097,0.527750,NaN,0.537395,0.675293,0.423353,0.543279,0.318764
29,NaN,0.679097,0.546831,0.378500,0.510804,0.381984,0.468787,0.510064,0.684774

In [14]:
exp_df.to_csv("silhouette_score_data.csv", index=False)