In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Datas/silhouette_score_data.csv")
df.head()

,random kmeans,kde kmeans,kmeans++,random SOM,kmeans SOM,kde kmeans SOM,kmeans++ SOM,SOM++,kde SOM
0,0.804698,0.829422,0.545900,0.861058,0.501386,0.440426,0.835837,0.496340,0.694666
1,0.808746,0.812297,0.637061,0.704290,0.262494,0.643603,0.835837,0.412662,0.823326
2,0.805003,0.820602,0.662935,0.835837,0.434176,0.835837,0.835837,0.641102,0.454433
3,0.812724,0.813251,0.638596,0.669911,-0.172054,0.819307,0.704746,0.684856,0.689535
4,0.833048,0.812371,0.686444,0.597210,0.643603,0.523209,0.537983,0.487481,0.791981

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   random kmeans   61 non-null     float64
 1   kde kmeans      61 non-null     float64
 2   kmeans++        61 non-null     float64
 3   random SOM      61 non-null     float64
 4   kmeans SOM      61 non-null     float64
 5   kde kmeans SOM  61 non-null     float64
 6   kmeans++ SOM    61 non-null     float64
 7   SOM++           61 non-null     float64
 8   kde SOM         61 non-null     float64
dtypes: float64(9)
memory usage: 4.4 KB

In [5]:
desc_data = df.describe()
desc_data

,random kmeans,kde kmeans,kmeans++,random SOM,kmeans SOM,kde kmeans SOM,kmeans++ SOM,SOM++,kde SOM
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000
mean,0.819159,0.813473,0.618012,0.693520,0.701473,0.677770,0.621770,0.619107,0.739507
std,0.010744,0.010611,0.053229,0.205709,0.214761,0.224464,0.175790,0.099741,0.171969
min,0.800677,0.761462,0.522411,0.000431,-0.172054,0.058380,0.255623,0.399404,0.201198
25%,0.812210,0.806601,0.549835,0.636704,0.633966,0.642380,0.467525,0.536706,0.719996
50%,0.814218,0.813131,0.646230,0.774243,0.806392,0.793325,0.670552,0.655008,0.804698
75%,0.832683,0.814818,0.659151,0.835837,0.835837,0.833854,0.781331,0.675690,0.835837
max,0.835052,0.835662,0.687405,0.861058,0.861058,0.861058,0.835837,0.798599,0.861058

In [12]:
desc_data.round(4).to_csv("Datas/data_description.csv")
desc_data.round(4).to_excel("Datas/data_description.xlsx")

In [11]:
df.round(4).to_excel("Datas/silhouette_score_data.xlsx")