In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("Datas/silhouette_score_data_dummy.csv")
df.head()

   kmeans++  random SOM  kmeans SOM  kmeans++ SOM     SOM++   kde SOM
0  0.289166    0.412340          -1      0.818857  0.301438  0.600509
1  0.245666    0.281276          -1      0.818857  0.416755  0.401765
2  0.291146    0.134187          -1      0.197652  0.295884  0.431230
3  0.266322    0.415510          -1      0.150591  0.462891  0.440789
4  0.240766    0.282193          -1      0.293437  0.200235  0.390512

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   kmeans++      50 non-null     float64
 1   random SOM    50 non-null     float64
 2   kmeans SOM    50 non-null     int64
 3   kmeans++ SOM  50 non-null     float64
 4   SOM++         50 non-null     float64
 5   kde SOM       50 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 2.5 KB

In [6]:
desc_data = df.describe()
desc_data

        kmeans++  random SOM  kmeans SOM  kmeans++ SOM      SOM++    kde SOM
count  50.000000   50.000000        50.0     50.000000  50.000000  50.000000
mean    0.293441    0.284671        -1.0      0.420702   0.358563   0.470699
std     0.059780    0.246599         0.0      0.343144   0.143034   0.098499
min     0.230376   -0.391121        -1.0     -1.000000   0.121161   0.244234
25%     0.263892    0.119075        -1.0      0.291928   0.262058   0.396988
50%     0.277191    0.332560        -1.0      0.421840   0.347169   0.431734
75%     0.290651    0.419955        -1.0      0.652140   0.428321   0.580874
max     0.470953    0.792911        -1.0      0.818857   0.818857   0.611038

In [9]:
desc_data.round(4).to_csv("Datas/data_description.csv")
desc_data.round(4).to_excel("Datas/data_description.xlsx")

In [10]:
df.round(4).to_excel("Datas/silhouette_score_data.xlsx")