In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("silhouette_score_data.csv")
df.head()

,random kmeans,kde kmeans,kmeans++,random SOM,kmeans SOM,kde kmeans SOM,kmeans++ SOM,SOM++,kde SOM
0,0.683825,0.661844,0.547249,0.113681,0.477293,0.473689,0.535864,0.514727,0.210254
1,0.679097,0.679097,0.547932,0.684774,0.555201,0.248771,0.526601,0.534656,-0.012939
2,0.675293,NaN,0.535476,0.423585,0.464505,0.181662,0.540706,0.488235,0.041007
3,NaN,0.681306,0.550427,0.174482,0.270850,0.226645,0.504371,0.505449,0.503187
4,NaN,0.683825,0.538548,0.410826,0.684774,0.250834,0.509962,0.528410,0.639503

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   random kmeans   24 non-null     float64
 1   kde kmeans      26 non-null     float64
 2   kmeans++        30 non-null     float64
 3   random SOM      29 non-null     float64
 4   kmeans SOM      30 non-null     float64
 5   kde kmeans SOM  30 non-null     float64
 6   kmeans++ SOM    30 non-null     float64
 7   SOM++           30 non-null     float64
 8   kde SOM         27 non-null     float64
dtypes: float64(9)
memory usage: 2.2 KB

In [5]:
df.describe()

,random kmeans,kde kmeans,kmeans++,random SOM,kmeans SOM,kde kmeans SOM,kmeans++ SOM,SOM++,kde SOM
count,24.000000,26.000000,30.000000,29.000000,30.000000,30.000000,30.000000,30.000000,27.000000
mean,0.669670,0.668961,0.537803,0.328051,0.475913,0.368820,0.489981,0.507224,0.402713
std,0.037005,0.028431,0.013593,0.240172,0.166665,0.135641,0.041604,0.031570,0.270427
min,0.507493,0.546878,0.510902,-0.237342,0.013838,0.181662,0.357415,0.450074,-0.126832
25%,0.675293,0.670491,0.527774,0.173770,0.360659,0.253106,0.478671,0.485032,0.225675
50%,0.683825,0.679097,0.544863,0.338410,0.494048,0.331239,0.500058,0.512396,0.493223
75%,0.684062,0.683195,0.549339,0.504236,0.625252,0.469886,0.515195,0.528466,0.641766
max,0.684774,0.684774,0.552696,0.684774,0.684774,0.684774,0.540706,0.551746,0.684774