In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("Datas/silhouette_score_data.csv")
df.head()

,random kmeans,kde kmeans,kmeans++,random SOM,kmeans SOM,kde kmeans SOM,kmeans++ SOM,SOM++,kde SOM
0,0.684774,0.684774,0.463065,0.402193,0.205022,0.455939,0.413563,0.441646,0.224409
1,0.675293,0.684774,0.457717,0.154600,0.545933,0.588291,0.398590,0.455338,-0.219745
2,0.684774,0.548528,0.493736,0.211824,0.384290,0.416028,0.404463,0.347690,-0.003175
3,0.516907,0.514451,0.488331,0.281559,0.347082,0.542082,0.374242,0.234802,0.448585
4,0.684774,0.549082,0.474679,NaN,0.428644,0.430766,0.341026,0.410366,0.664060

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   random kmeans   43 non-null     float64
 1   kde kmeans      49 non-null     float64
 2   kmeans++        50 non-null     float64
 3   random SOM      44 non-null     float64
 4   kmeans SOM      50 non-null     float64
 5   kde kmeans SOM  50 non-null     float64
 6   kmeans++ SOM    50 non-null     float64
 7   SOM++           50 non-null     float64
 8   kde SOM         49 non-null     float64
dtypes: float64(9)
memory usage: 3.6 KB

In [11]:
df.describe()

,random kmeans,kde kmeans,kmeans++,random SOM,kmeans SOM,kde kmeans SOM,kmeans++ SOM,SOM++,kde SOM
count,43.000000,49.000000,50.000000,44.000000,50.000000,50.000000,50.000000,50.000000,49.000000
mean,0.643237,0.626261,0.482232,0.319095,0.369411,0.367928,0.391831,0.399061,0.325376
std,0.068817,0.068227,0.017992,0.202811,0.158355,0.178029,0.042012,0.058481,0.196199
min,0.407620,0.514451,0.378856,-0.274155,-0.246741,-0.254390,0.248112,0.234802,-0.219745
25%,0.658375,0.549082,0.478405,0.215283,0.307347,0.276519,0.375808,0.362960,0.229901
50%,0.675293,0.675293,0.486972,0.284617,0.377145,0.409732,0.400151,0.409669,0.336640
75%,0.683825,0.683825,0.491564,0.454084,0.496476,0.471233,0.423127,0.435719,0.461883
max,0.684774,0.684774,0.498721,0.684774,0.608383,0.675293,0.440806,0.507760,0.684774