In [1]:
from som import SOM
from som import kmeans
import pandas as pd
import numpy as np
import random
from sklearn.metrics import silhouette_score

In [2]:
df = pd.read_csv("iris_data.csv")
df = df.iloc[:, :-1]
df.head()

   5.1  3.5  1.4  0.2
0  4.9  3.0  1.4  0.2
1  4.7  3.2  1.3  0.2
2  4.6  3.1  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

In [10]:
model = SOM(m = 1, n = 5, dim = 4, max_iter=9999999, learning_rate=1, neighbour_rad = 3, initiate_method="kmeans")

In [11]:
model.neurons

In [12]:
np.unravel_index(1, (model.m, model.n))

(0, 1)

In [13]:
for i in range(model.n):
    print(i)

0
1
2
3
4

In [14]:
model.fit(df.values, epoch=10)

In [15]:
y1 = model.predict(df.values)
y1

[0,
 4,
 4,
 3,
 0,
 3,
 4,
 0,
 4,
 3,
 0,
 2,
 0,
 0,
 3,
 3,
 3,
 0,
 0,
 3,
 0,
 3,
 0,
 3,
 2,
 3,
 3,
 3,
 1,
 0,
 0,
 4,
 0,
 3,
 0,
 3,
 0,
 3,
 4,
 2,
 3,
 1,
 2,
 0,
 0,
 3,
 3,
 0,
 3,
 0,
 3,
 0,
 0,
 0,
 3,
 3,
 3,
 3,
 2,
 4,
 3,
 4,
 4,
 0,
 3,
 4,
 0,
 0,
 3,
 0,
 3,
 0,
 0,
 4,
 3,
 3,
 3,
 3,
 4,
 0,
 3,
 0,
 0,
 4,
 3,
 3,
 4,
 3,
 0,
 3,
 3,
 0,
 3,
 3,
 0,
 0,
 0,
 3,
 3,
 0,
 4,
 3,
 3,
 4,
 4,
 4,
 0,
 2,
 3,
 4,
 3,
 2,
 3,
 0,
 3,
 0,
 3,
 0,
 0,
 3,
 3,
 0,
 0,
 3,
 0,
 4,
 2,
 2,
 3,
 0,
 1,
 4,
 3,
 0,
 4,
 3,
 4,
 2,
 3,
 0,
 2,
 4,
 2,
 4,
 4,
 0,
 4,
 2,
 3]

In [16]:
silhouette_score(df.values, y1)

0.41298490604717647